/* LIGHT ANIM STYLES */
body{
  overflow-x: hidden;
  width: 100vw;
}
.light-container{
  position: relative;

}
.light-container.ready{
  opacity: 1;
}
.liht-container > img{
  opacity: 0;
  display: none;
}
.light-container img{
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: all 3s ease-out;
}
.light-container img.active{
  opacity: 1;
}
.light-figure{
  position: absolute;
  animation-iteration-count: infinite;
}

.light-img{
  /* transition: transform 5s ease filter 2s ease-out; */
  /* transition: filter 3s ease-out opacity 1s ease; */
  transition: all 3s ease-out;
  animation-name: idleWander;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

.light-container.active{
  border: 2px solid red;
}

.light-content{
  z-index: 100;
}

/* ORBIT BEHAVIOUR */

.light-container, .light-content{
  transition: all 5s linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes idleWander{
  from { transform: translate(0px, 0px); }
  20%{ transform: translate(10px, 5px); }
  50%{ transform: translate(5px, 20px); }
  to { transform: translate(0px, 0px); }
}
@keyframes infiniteRotate{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes infiniteCounterRotate{
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
