/* LIGHT ANIM STYLES */
body{
  overflow-x: hidden;
  width: 100vw;
}
.light-container{
  position: relative;

}
.light-container.ready{
  opacity: 1;
}
.light-container > img{
  pointer-events: none;
  user-select: none;
  opacity: 0;
}
.light-container > figure img{
  opacity: 0;
}
.light-container > figure img.active{
  opacity: 1;
}
.light-figure{
  position: absolute;
  animation-iteration-count: infinite;
}

.light-img{
  transition: opacity 3s ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.light-container.active{
  border: 2px solid red;
}

.light-content{
  z-index: 100;
}

/* ORBIT BEHAVIOUR */

.light-container, .light-content{
  transition: all 2s linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.light-container.light-rotate{
  /* overflow: hidden; */
}

.light-debug{
  font-size: 1rem;
  position: absolute;
  max-width: 100%;
}

@keyframes idleWander{
  from { transform: translate(0px, 0px); }
  20%{ transform: translate(10px, 5px); }
  50%{ transform: translate(5px, 20px); }
  to { transform: translate(0px, 0px); }
}
@keyframes infiniteRotate{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes infiniteCounterRotate{
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes infiniteWanderCounterRotate{
  from { transform: rotate(0deg) translate(0px, 0px); }
  20%{ transform: translate(10px, 5px); }
  50%{ transform: translate(5px, 20px); }
  to { transform: rotate(-360deg) translate(0px, 0px); }
}
